/* login.module.css */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Same background color as the signup page */
}
  
.loginForm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}
  
.formTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .submitButton {
    background-color: #007bff; /* Same primary color as the signup page */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
  }
  
  .submitButton:hover {
    background-color: #0056b3; /* Same secondary color as the signup page */
  }  


  .signupLink {
    text-align: center;
    margin-top: 10px;
  }
  
  .formLink {
    color: #007bff; /* Same primary color as the form button */
    text-decoration: none;
    font-size: 16px;
  }
  
  .formLink:hover {
    color: #0056b3; /* Same secondary color as the form button on hover */
  }