/* CollapsibleCard.module.css */

.collapsible-card {
  margin-bottom: 10px; /* Add margin at the bottom to separate from other elements */
}

.collapsible-list {
  /* list-style-type: none; */
  padding: 0; /* Remove default padding */
}

.collapsible-list-item {
  margin-left: 20px; /* Add left margin for indentation */
  cursor: pointer;
}